<form action="/restaurants" method="post">
  <label for="name">Enter a new name</label>
  <input type="text" name="restaurant_name">

  <label for="category">Enter a new category</label>
  <input type="text" name="restaurant_category">

  <input type="submit" value="Create new restaurant">
</form>
